# macOS system files
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv

# Airflow
airflow/logs/
airflow/plugins/
airflow/__pycache__/
airflow/postgres-db-volume/

# Credentials & Secrets
fastapi/credentials/
*.key.json
*.env
.env*

# dbt
target/
dbt_packages/
logs/
dbt_modules/
.user.ymlid

# VSCode & IDEs
.vscode/
.idea/
